{% extends "blog/base.html" %}
{% block content %}
    <h1> About </h1>
    <h3> Goal</h3>
    <p>
        Our goal is to provide a resource to fellow scholars to quickly distill the important ideas of a URL or text passage. Our engine
        produces the relevant language, key phrases, people, themes, emotions, and an overarching image.
    </p>
    <h3> Technical Details </h3>
    <p>
        This site is built using Django, a high-level Python Web framework. We utilized two APIs: IBM Watson's Natural Language Understanding
        and Microsoft Azure Bing Image Search. This site is deployed using a linux virtual private server with Apache.
    </p>
{% endblock content %}
