{% extends "blog/base.html" %}
{% block content %}
    <h1> About </h1>
    <p>
        We are Brandie Young and Jack Good, two Computer Science students at the University of Virginia. At UVa, we believe
        that learning never stops--hence why we use "first year", "second year", and so on instead of "freshman", "sophmore", etc.
        We are all students here and whether you're in the workforce or physically at school, chances are you don't have unlimited time
        to devote to reading. </p>
    <p>
        But here, we have a solution for you.

    </p>
    <h3> Goal</h3>
    <p>
        Quick Read is a tool that distills important ideas of a URL or text passage in just seconds. With the simple click of a button
        our engine produces the relevant language, key phrases, people, themes, emotions, and an overarching image from said
        URL or text.
    </p>
     <p>
        Study smarter, not harder with our free tool.
    </p>
    <h3> Technical Details </h3>
    <p>
        This site is built using Django, a high-level Python Web framework. We utilized two APIs: IBM Watson's Natural Language Understanding
        and Microsoft Azure Bing Image Search. This site is deployed using a linux virtual private server with Apache.
    </p>
{% endblock content %}
