{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<head>
   <link rel="stylesheet" href=" {% static 'blog/books.css' %}" >
</head>
    <h1> Contact Us </h1>
    <div class="container">
      <div class="row">
          <h2 style="color: black">
      Jack Good </h2>
        <div class="col-sm-4">
          <a href="https://www.linkedin.com/in/jack-good21">
          <img src="/media/logo.PNG" height="40" width="40">
          </a>
        </div>

      </div>
    </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <p style="color: black";> Jack is a third year CS major in the School of Engineering at UVa. He came up with the idea for this website and
             and implemented it alongside Brandie Young. Jack is interested in backend design, app development, and statistics.
            </p>

          </div>
          <div class="col col-lg-4">
              <img src="/media/goodprof.jpeg" height = "200" width = "200">
          </div>
        </div>
      </div>
<div class="container">
  <div class="row">
      <h2 style="color: black">
      Brandie Young </h2>
    <div class="col-sm-4">
      <a href="https://www.linkedin.com/in/brandie-young">
      <img src="/media/logo.PNG" height="40" width="40">
      </a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <div class="col col-lg-4">
              <img src="/media/brandie.jpg" height = "200" width = "200">
          </div>
    <div class="col-7">
      <p style="color: black";>
              Brandie is also a third year CS major in the School of Engineering at UVa, minoring in Math and Engineering Business. She
              was her high school Valedictorian earning her a University Achievement scholarship at UVa. She is currently an
              intern for Bank of America. Her interests include backend design and cybersecurity.
      </p>

    </div>
  </div>
</div>


{% endblock content %}
