{% extends "blog/base.html" %}
{% block content %}
    <h1> Contact Us </h1>
    <h1> Jack Good </h1>
    <p>
       Jack is a third year CS major in the School of Engineering at UVa. He came up with the idea for this website and
        and implemented it along side Brandie Young. Jack is interested in backend design, app development, and statistics.
    </p>
{% load static %}
    <a href="{% static "blog/static/blog/BrandieYoungResume.pdf" %}"> Brandie Young </a>
    <p>
        Brandie is also a third year CS major in the School of Engineering at UVa, minoring in Math and Engineering Business. She
        was her high school Valedictorian earning her a University Achievement scholarship at UVa. She is currently an
        intern for Bank of America. Her interests include backend design and cybersecurity.
    </p>
{% endblock content %}