{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1> Studying Readings </h1>
    <legend class="border-bottom mb-4"></legend>
    {% if form != None %}
    <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
        <button type="submit" class="btn btn-danger" value="Submit">Analyze</button>
    </form>
    {% else %}
    {% if language %}
    <h1> Language: </h1>
    {{ language}}
    {% endif %}
    {% if keywords %}
    <h2> Keywords: </h2>
    {% for k,v in keywords.items %}
    <ul class="list-group">
    <li class="list-group-item">{{v}}</li> </ul>
    {% endfor %}
    {% endif %}
    {% if entities %}
    {% for k,v in entities.items %}
    <li class="list-group-item">{{v}}</li> </ul>
    {% endfor %}
    {% endif %}
    {% if concepts %}
    <h3> Themes: </h3>
    <!-- < class="list-group"> -->
    {% for k,v in concepts.items %}
    <a href = {{v}} class="list-group-item">{{k}} </a>
     {% endfor %}
    {% endif %}
    {% if first_sentences %}
    <h4> Topic Sentences of Paragraphs: </h4>
    {% for sent in first_sentences %}
        <li class="list-group-item">{{sent}}</li> </ul>
    {% endfor %}
    {% endif %}
    {% endif %}


{% endblock content %}
